.sec3Bg {
  background-image: url("../assets/sec3bg.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  padding: 30px 60px;
}
.send {
  background-color: rgba(253, 253, 253, 0.25);
  padding: 10px 30px;
}
.s3div {
  border: 1px solid #ffffff85;
  width: 95%;
  display: flex;
  justify-content: center;
  background: transparent;
  backdrop-filter: blur(15px);
}
.s3subdiv {
  padding: 60px 40px;
  border: 1px solid #ffffff85;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 100px;
  background: transparent;
  backdrop-filter: blur(15px);
}
