@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --text-color: black;
}

body {
  background-color: white;
  color: black;
}

.dark body {
  background-image: url("../app//assets//darkbg.png");
  color: white;
  background-color: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
